@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0;
}

body {
    width: 100%;
}

/* header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* logo image */
#header a img {
    width: 200px;
    height: 47px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a :hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a :hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#company-name h1 {
    margin-right: 30px;
    font-style: 'Alta Light';
    font-size: 25px;
    font-weight: 300;
    /* color:gray; */
}

/* home page */
.hero img {
    height:100%;
    width: 100%;
   
}

/* feature section */
#feature {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature.fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2)h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3)h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4)h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5)h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6)h6 {
    background-color: #fff2e5;
}

/* footer */

/* shop page */



/* single product detailas */



/* contact-page */


/* cart page */

/* cheakout section */



/* login page */

/* cheakout page */


/* starting media query */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero .slideshow {
        width: 100%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

  

    /* contact page */
   

    /* slide show hero section */
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero .slideshow {
        width: 100%;
        background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    }

    #feature {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    /* conatct  page */
   

    
    /* single product */
    

    footer {
        display: flex;
        flex-direction: column;
    }

}